name: Python CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:  # allows manual runs

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.14

      - name: Install Poetry
        uses: snok/install-poetry@v1

      - name: Install dependencies
        run: poetry install --no-root

      - name: Lint & format checks
        run: |
          poetry run flake8 .
          poetry run black --check .
          poetry run isort --check-only .

  test:
    runs-on: ubuntu-latest
    needs: lint  # only run if lint passes

    steps:

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.14

      - name: Install Poetry
        uses: snok/install-poetry@v1

      - name: Install dependencies
        run: poetry install --no-root

      - name: Run tests
        run: poetry run pytest

      - name: Run tests with coverage
        run: poetry run pytest --cov=python_ci --cov-report=xml:reports/coverage.xml
        # --cov=python_ci tells pytest-cov which source code folder to measure coverage for
        # In this instance, the source code folder is python_ci

      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: reports/coverage.xml
          if-no-files-found: warn

      - name: Upload coverage report to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: reports/coverage.xml
          fail_ci_if_error: True
